<template>
  <div class="list-vir">
    <h3>滚动条</h3>
    <virtual-list :size="80" :remain="8" :items="items" :variable="true">
      <Item slot-scope="{item}" :item="item" />
    </virtual-list>
  </div>
</template>
<script>
import VirtualList from "./virtual-list";
import Item from "./item";
import Mock from "mockjs";

let items = [];
for (let i = 0; i < 50; i++) {
  items.push({ id: i, value: Mock.Random.sentence() });
}

export default {
  components: {
    VirtualList,
    Item
  },
  data() {
    return {
      items
    };
  }
};
</script>
<style lang="scss">
.list-vir {
  width: 80%;
  margin-left: 10%;
  border: 1px solid #000000;
  margin-top: 10px;
}
</style>