<template>
  <div id="home">
    <div class="height-auto">
      <h4>2018-2019年学年第二阶段阶段性检测</h4>
      <label>高一物理</label>
    </div>
    <div class="paper-content height-auto">
      <div class="left-content">
        <a href="javascript:;" @click="addFn">添加准考证位数</a>
        <a href="javascript:;" @click="minusFn">减少准考证位数</a>
        <a href="javascript:;" @click="addObjectiveFn">添加客观题数量</a>
        <a href="javascript:;" @click="minusObjectiveFn">减少客观题数量</a>
        <a href="javascript:;" @click="addAnswerFn">增加解答题数量</a>
        <a href="javascript:;" @click="minusAnswerFn">减少解答题数量</a>
      </div>
      <div class="right-content">
        <table border="1px" cellspacing="0" cellpadding="0">
          <tr>
            <th :colspan="ticketArr.length">准考证号</th>
          </tr>
          <div v-for="(ticket,index) in ticketArr" :key="index" class="row-d">
            <tr class="tr-c flex-col">
              <td></td>
              <template v-for="(item,j) in ticket">
                <td :key="j">[{{item}}]</td>
              </template>
            </tr>
          </div>
        </table>
      </div>
    </div>
    <div class="paper-subject">
      <div class="objective flex-col">
        <h3>客观题</h3>
        <div class="objective-d">
          <div class="cu">
            <table
              v-for="(item_i,i) in answerArr"
              :key="i"
            >
              <tr v-for="(item_h,h) in item_i" :key="h">
                <td style="width:20px;text-align:center">{{i*4+h+1}}</td>
                <template v-for="(item,j) in item_h">
                  <td :key="j">[{{item}}]</td>
                </template>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="answer flex-col">
        <h3>解答题</h3>
        <div v-for="(item,index) in answerQuestions" :key="index">
          <h4>第{{index+1}}题</h4>
          <textarea class="text-col" rows="10" cols="30"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

// 将数组分组
function group(array, subGroupLength) {
  let index = 0;
  let newArray = [];
  while (index < array.length) {
    newArray.push(array.slice(index, (index += subGroupLength)));
  }
  return newArray;
}

export default {
  
  data() {
    return {
      ticketArr: {
        type: Array,
        default: () => []
      },
      ticket: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
      answer: ["A", "B", "C", "D"],
      answerArr: {
        type: Array,
        default: () => []
      },
      arr: [],
      answerQuestions: {
        type: Array,
        default: () => []
      }
    };
  },
  mounted() {
    this.initData();
  },

  methods: {
    addFn() {
      this.ticketArr.push(this.ticket);
    },
    minusFn() {
      this.ticketArr.pop();
    },
    addObjectiveFn() {
      this.arr.push(this.answer);
      this.answerArr = group(this.arr, 4);
    },
    minusObjectiveFn() {
      this.arr.pop();
      this.answerArr = group(this.arr, 4);
    },
    minusAnswerFn() {
      this.answerQuestions.pop();
    },
    addAnswerFn() {
      const obj = { answer: "" };
      this.answerQuestions.push(obj);
    },
   
    initData() {
      this.ticketArr = [];
      for (let i = 0; i < 8; i++) {
        this.ticketArr.push(this.ticket);
      }
      this.answerArr = [];
      this.arr = [];
      for (let i = 0; i < 11; i++) {
        this.arr.push(this.answer);
      }
      this.answerArr = group(this.arr, 4);
      const obj = { answer: "" };
      this.answerQuestions = [];
      for (let i = 0; i < 2; i++) {
        this.answerQuestions.push(obj);
      }
    }
  }
};
</script>
<style lang="scss">
#home {
  height: 100%;
  margin: 0 100px;
  justify-content: center;
  .flex-col{
    display: flex;
    flex-direction: column;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
  }
  .height-auto{
    height: auto;
  }
  .paper-content {
    margin: 10px 60px;
  }
  .right-content {
    float: right;
    height: 100%;
    margin-right: 60px;
    table .row-d {
      display: inline-block;
    }
    table .tr-c td {
      min-width: 20px;
      min-height: 20px;
      padding: 3px;
    }
  }
  .left-content {
    float: left;
    justify-content: left;
    height: 100%;
    text-align: left;
    margin-left: 60px;
    a {
      display: block;
      padding: 10px 20px 0px 20px;
      font-size: 12px;
    }
  }
  .paper-subject {
    height: auto;
    clear: both;
    margin: 10px 60px;
    .objective {
      text-align: left;
      margin: 5px 60px;
    }
    .answer {
      height: 200px;
      text-align: left;
      margin: 5px 60px;
    }
    .objective-d {
      border: 1px solid #000000;
      margin: 10px 0px;
      height: auto;
      min-height: 100px;
      .cu{
        display: flex;flex-flow: row wrap;
      }
      table{
        height: 100px; margin-top:5px;display: flex;flex-flow: column wrap;
      }
    }
    .answer .text-col {
      width: 100%;
      min-height: 60px;
      min-width: 100px;
    }
  }
}
</style>