<template>
  <div id="app">
    <!-- <Home/> -->
    <router-link to="/home">试题1</router-link>
    <router-link to="/about">试题2</router-link>
    <router-view />
  </div>
</template>

<script>
// import Home from './components/Home.vue'

export default {
  name: 'App',
  components: {
    // Home
  }
}
</script>

<style lang="scss">
  #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  router-link{
    font-size: 25px;
    margin: 0px 20px;
  }
}
</style>

